@media (prefers-color-scheme: dark) {
  :root {
    --Black: #ffffff;
    --DarkestPurple: rgb(255, 246, 242);
    --DarkPurple: #ffecdb;
    --MediumPurple: #ffcac3;
    --LightPurple: #fda8a2;
    --GradientDark: #ffffff;
    --GradientLight: #ffa6b3;
    --ScrollDark: #fae0ca;
    --ScrollLight: rgb(255, 246, 242);
    --CloudShadowDark: #ffc3b896;
    --CloudMediumDark: #ffbfb785;
    --CloudLightDark: #ffb3ae73;
  }
}
