@media only screen and (min-width: 1421px) {
  :root {
    --title: 3rem;
    --body: 1.5rem;
  }
}
@media only screen and (max-width: 1420px) {
  :root {
    --title: 2.5rem;
    --body: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-bottom: 100px;
  }
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: var(--DarkPurple);
    color: var(--LightPurple);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.infoBlock{
    margin-left: 1.5rem;
    margin-right: 3rem;
}


.aboutMe { 
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 1420px) {
  .aboutMe {
    flex-direction: column;
  }
}

.title {
  margin-right: auto;
  font-size: var(--title);
  width: 100%;
}

.linksIcons{  
    width:45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--title);

}

.linksIcons > a {
  color: var(--LightPurple);
}


.linksIcons > a:hover {
  color: var(--DarkestPurple);
}

.cv{
  color: var(--DarkPurple);
  font-size: 1.5rem;
  font-weight: bold;
}

.aboutMeText {
    font-family: 'Karla', sans-serif;
    font-size: var(--body);
    padding-bottom: 3em;
}
 
.skills { 
    position: relative;
    z-index: 2;
    }

.titleSkills{
    padding-bottom: 1rem;
    font-size: var(--title);
}


.skillsIcons{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--title);
}

